<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form action=# th:action="@{/edit}" th:object="${item}" method="post">


    <input type="hidden" id="userId" th:field="*{userId}"/>
    <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>

    <label for="firstName">Fist Name</label><br>
    <input type="text" id="firstName" th:field="*{firstName}"/>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p><br>

    <label for="lastName">Last Name</label><br>
    <input type="text" id="lastName" th:field="*{lastName}"/>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p><br>


    <input type="hidden" id="birthId" th:field="*{birthId}"/>
    <p th:if="${#fields.hasErrors('birthId')}" th:errors="*{birthId}"></p>

    <label for="email">e-mail</label><br>
    <input type="text" id="email" th:field="*{email}"/>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p><br>

    <p><label style="font-style: oblique">Address</label></p>
    <label for="addrZipCode">Zip Code</label><br>
    <input type="text" id="addrZipCode" th:field="*{addrZipCode}"/>
    <p th:if="${#fields.hasErrors('addrZipCode')}" th:errors="*{addrZipCode}"></p><br>

    <label for="addrTown">Town</label><br>
    <input type="text" id="addrTown" th:field="*{addrTown}"/>
    <p th:if="${#fields.hasErrors('addrTown')}" th:errors="*{addrTown}"></p><br>

    <label for="addrStreet">Street</label><br>
    <input type="text" id="addrStreet" th:field="*{addrStreet}"/>
    <p th:if="${#fields.hasErrors('addrZipCode')}" th:errors="*{addrStreet}"></p><br>

    <label for="addrHouseNumber">House Number</label><br>
    <input type="text" id="addrHouseNumber" th:field="*{addrHouseNumber}"/>
    <p th:if="${#fields.hasErrors('addrHouseNumber')}" th:errors="*{addrHouseNumber}"></p><br>

    <p><label style="font-style: oblique">Correspondence Address</label></p>
    <label for="correspaddrZipCode">Zip Code</label><br>
    <input type="text" id="correspaddrZipCode" th:field="*{correspaddrZipCode}"/>
    <p th:if="${#fields.hasErrors('correspaddrZipCode')}" th:errors="*{correspaddrZipCode}"></p><br>

    <label for="correspaddrTown">Town</label><br>
    <input type="text" id="correspaddrTown" th:field="*{correspaddrTown}"/>
    <p th:if="${#fields.hasErrors('correspaddrTown')}" th:errors="*{correspaddrTown}"></p><br>

    <label for="correspaddrStreet">Street</label><br>
    <input type="text" id="correspaddrStreet" th:field="*{correspaddrStreet}"/>
    <p th:if="${#fields.hasErrors('correspaddrStreet')}" th:errors="*{correspaddrStreet}"></p><br>

    <label for="correspaddrHouseNumber">House Number</label><br>
    <input type="text" id="correspaddrHouseNumber" th:field="*{correspaddrHouseNumber}"/>
    <p th:if="${#fields.hasErrors('correspaddrHouseNumber')}" th:errors="*{correspaddrHouseNumber}"></p><br>




    <p> <input type="submit" value="Submit"/></p>
</form>

</body>
</html>