<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">First Name</th>
        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
        <th class="mdl-data-table__cell--non-numeric">Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${items}">
        <td th:text="${item.getUserId()}"></td>
        <td th:text="${item.getFirstName()}"></td>
        <td th:text="${item.getLastName()}"></td>
        <td>
            <button><a class="btn btn-info" th:href="@{'/edit/' + ${item.getUserId()}}">Edit</a></button>
            <button><a class="btn btn-danger" th:href="@{'/details/' + ${item.getUserId()}}">Details</a></button>
        </td>
    </tr>
    </tbody>
</table>
</body>

<p>
    <button><a class="button" href="/adduser">Add new user</a></button>
</p>
</html>
