<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit travel insurance</title>
</head>
<body>
<form th:action="@{/contracts/editTRA}" th:object="${item}" method="post">

    <p><label style="font-style: oblique">Edit Travel Insurance</label></p>

    <!--<label for="contractId">Contract Id</label><br>-->
    <input type="hidden" id="contractId" th:field="*{contractId}"/>
    <p th:if="${#fields.hasErrors('contractId')}" th:errors="*{contractId}"></p>

    <!--<label for="contractId">Contract Id</label><br>-->
    <input type="hidden" id="contractType" th:field="*{contractType}"/>
    <p th:if="${#fields.hasErrors('contractType')}" th:errors="*{contractType}"></p>

    <!--<label for="date">Date</label><br>-->
    <input type="hidden" id="date" th:field="*{date}"/>
    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p><br>

    <!--<<label for="userId">User</label><br>-->
    <input type="hidden" id="userId" th:field="*{userId}"/>
    <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>

    <label for="beginDate">Begin Date</label><br>
    <input type="datetime-local" id="beginDate" th:field="*{beginDate}"/>
    <p th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}"></p><br>

    <label for="endDate">End Date</label><br>
    <input type="datetime-local" id="endDate" th:field="*{endDate}"/>
    <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p><br>

    <label for="contractPrice">Contract Price</label><br>
    <input type="number" id="contractPrice" th:field="*{contractPrice}"/>
    <p th:if="${#fields.hasErrors('contractPrice')}" th:errors="*{contractPrice}"></p><br>

    <label for="monthlyFee">Monthly Fee</label><br>
    <input type="number" id="monthlyFee" th:field="*{monthlyFee}"/>
    <p th:if="${#fields.hasErrors('monthlyFee')}" th:errors="*{monthlyFee}"></p><br>

    <label for="inEU">In Eu</label><br>
    <input type="checkbox" id="inEU" checked th:field="*{inEU}"/>
    <p th:if="${#fields.hasErrors('inEU')}" th:errors="*{inEU}"></p><br>

    <label for="purpose">Purpose</label><br>
    <select name="purpose" id="purpose" th:field="*{purpose}">
        <option th:each="purpose: ${purposeOfTrip}"
                th:value="${purpose}"
                th:selected="${purpose.equals(item.getPurpose())}"
                th:text="${purpose.toString()}"></option>
    </select><br>
    <label for="insured">Insured user</label><br>
    <select name="insured" id="insured" th:field="*{insured}">
        <option th:each="user: ${users}"
                th:value="${user.getUserId().toString()}"
                th:selected="${user.equals(item.getUserId())}"
                th:text="${user.userId.toString()}"></option>
    </select><br>




    <p> <input type="submit" value="Submit"/></p>
</form>
</body>
</html>