<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new accident insurance</title>
</head>
<body>
<form th:action="@{/}" th:object="${item}" method="post">

    <label for="contractId">Contract Id</label><br>
    <input type="number" id="contractId" th:field="*{contractId}"/>
    <p th:if="${#fields.hasErrors('contractid')}" th:errors="*{contractId}"></p>

    <label for="date">Date</label><br>
    <input type="date" id="date" th:field="*{date}"/>
    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>

    <label for="user">User</label><br>
    <input type="text" id="user" th:field="*{user}"/>
    <p th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></p>

    <label for="date">Begin Date</label><br>
    <input type="date" id="date" th:field="*{date}"/>
    <p th:if="${#fields.hasErrors('begindate')}" th:errors="*{date}"></p>

    <label for="date">End Date</label><br>
    <input type="date" id="endDate" th:field="*{date}"/>
    <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{date}"></p>

    <label for="contractPrice">Contract Price</label><br>
    <input type="number" id="contractPrice" th:field="*{contractPrice}"/>
    <p th:if="${#fields.hasErrors('contractPrice')}" th:errors="*{contractPrice}"></p>

    <label for="monthlyFee">Monthly Fee</label><br>
    <input type="number" id="MonthlyFee" th:field="*{monthlyFee}"/>
    <p th:if="${#fields.hasErrors('monthlyFee')}" th:errors="*{monthlyFee}"></p>

    <label for="accidentConseq">Accident Consequence</label><br>
    <input type="number" id="accidentConseq" th:field="*{acciderntConseq}"/>
    <p th:if="${#fields.hasErrors('accidentConseq')}" th:errors="*{accidentConseq}"></p>

    <label for="death">Death</label><br>
    <input type="number" id="death" th:field="*{death}"/>
    <p th:if="${#fields.hasErrors('death')}" th:errors="*{death}"></p>

    <label for="dailyCompens">Daily Compensation</label><br>
    <input type="number" id="dailyCompens" th:field="*{dailyCompens}"/>
    <p th:if="${#fields.hasErrors('dailyCompens')}" th:errors="*{dailyCompens}"></p>

    <label for="territorialVailidity">Territorial Validity</label><br>
    <input type="text" id="territorialVailidity" th:field="*{territorialValidity}"/>
    <p th:if="${#fields.hasErrors('territorialValidity')}" th:errors="*{territorialValidity}"></p>


    <input type="submit" value="Submit"/>
</form>
</body>
</html>