<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new travel insurance</title>
</head>
<body>
<form th:action="@{/contracts/addTRAVEL}" th:object="${item}" method="post">

    <!--<label for="contractId">Contract Id</label>-->
    <input type="hidden" id="contractId" th:field="*{contractId}"/>
    <p th:if="${#fields.hasErrors('contractId')}" th:errors="*{contractId}"></p>

    <label for="date">Date</label><br>
    <input type="date" id="date" th:field="*{date}"/>
    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p><br>

    <label for="userId">User</label><br>
    <input type="text" id="userId" th:field="*{userId}"/>
    <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p><br>

    <label for="beginDate">Begin Date</label><br>
    <input type="date" id="beginDate" th:field="*{beginDate}"/>
    <p th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}"></p><br>

    <label for="endDate">End Date</label><br>
    <input type="date" id="endDate" th:field="*{endDate}"/>
    <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p><br>

    <label for="contractPrice">Contract Price</label><br>
    <input type="number" id="contractPrice" th:field="*{contractPrice}"/>
    <p th:if="${#fields.hasErrors('contractPrice')}" th:errors="*{contractPrice}"></p><br>

    <label for="monthlyFee">Monthly Fee</label><br>
    <input type="number" id="monthlyFee" th:field="*{monthlyFee}"/>
    <p th:if="${#fields.hasErrors('monthlyFee')}" th:errors="*{monthlyFee}"></p><br>

    <label for="inEU">In Eu</label><br>
    <input type="checkbox" id="inEU" th:field="*{inEU}"/>
    <p th:if="${#fields.hasErrors('inEU')}" th:errors="*{inEU}"></p><br>

    <label for="purpose">Purpose</label><br>
    <input type="text" id="purpose" th:field="*{purpose}"/>
    <p th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}"></p><br>



    <p> <input type="submit" value="Submit"/></p>
</form>
</body>
</html>